body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1498px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u116 {
  position:absolute;
  left:130px;
  top:198px;
  width:100px;
  height:60px;
}
#u117 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u118 {
  position:absolute;
  left:130px;
  top:302px;
  width:100px;
  height:60px;
}
#u119 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u120 {
  position:absolute;
  left:130px;
  top:826px;
  width:100px;
  height:60px;
}
#u121 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u122 {
  position:absolute;
  left:130px;
  top:1255px;
  width:100px;
  height:60px;
}
#u123 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:180px;
  top:258px;
  width:0px;
  height:0px;
}
#u124_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u124_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u124_seg2 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:21px;
}
#u125 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
}
#u126 {
  position:absolute;
  left:30px;
  top:30px;
  width:840px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u128_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u128_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u128_seg2 {
  position:absolute;
  left:-10px;
  top:450px;
  width:20px;
  height:21px;
}
#u129 {
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:180px;
  top:886px;
  width:0px;
  height:0px;
}
#u130_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u130_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u130_seg2 {
  position:absolute;
  left:-10px;
  top:355px;
  width:20px;
  height:21px;
}
#u131 {
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u132 {
  position:absolute;
  left:156px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u134 {
  position:absolute;
  left:259px;
  top:384px;
  width:101px;
  height:73px;
}
#u135 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u136 {
  position:absolute;
  left:259px;
  top:468px;
  width:101px;
  height:73px;
}
#u137 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u138 {
  position:absolute;
  left:259px;
  top:635px;
  width:101px;
  height:73px;
}
#u139 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u140 {
  position:absolute;
  left:259px;
  top:552px;
  width:101px;
  height:73px;
}
#u141 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u142 {
  position:absolute;
  left:259px;
  top:719px;
  width:101px;
  height:73px;
}
#u143 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u144 {
  position:absolute;
  left:180px;
  top:418px;
  width:79px;
  height:5px;
}
#u145 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u146 {
  position:absolute;
  left:180px;
  top:502px;
  width:79px;
  height:5px;
}
#u147 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u148 {
  position:absolute;
  left:180px;
  top:586px;
  width:79px;
  height:5px;
}
#u149 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u150 {
  position:absolute;
  left:180px;
  top:669px;
  width:79px;
  height:5px;
}
#u151 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u152 {
  position:absolute;
  left:180px;
  top:753px;
  width:79px;
  height:5px;
}
#u153 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u154 {
  position:absolute;
  left:259px;
  top:923px;
  width:101px;
  height:67px;
}
#u155 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u156 {
  position:absolute;
  left:259px;
  top:1001px;
  width:101px;
  height:67px;
}
#u157 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u158 {
  position:absolute;
  left:259px;
  top:1156px;
  width:101px;
  height:67px;
}
#u159 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u160 {
  position:absolute;
  left:259px;
  top:1079px;
  width:101px;
  height:67px;
}
#u161 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u162 {
  position:absolute;
  left:180px;
  top:954px;
  width:79px;
  height:5px;
}
#u163 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u164 {
  position:absolute;
  left:180px;
  top:1032px;
  width:79px;
  height:5px;
}
#u165 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u166 {
  position:absolute;
  left:180px;
  top:1110px;
  width:79px;
  height:5px;
}
#u167 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u168 {
  position:absolute;
  left:180px;
  top:1187px;
  width:79px;
  height:5px;
}
#u169 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u170 {
  position:absolute;
  left:397px;
  top:392px;
  width:107px;
  height:29px;
}
#u171 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u172 {
  position:absolute;
  left:397px;
  top:421px;
  width:107px;
  height:29px;
}
#u173 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u174 {
  position:absolute;
  left:397px;
  top:560px;
  width:107px;
  height:29px;
}
#u175 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u176 {
  position:absolute;
  left:397px;
  top:589px;
  width:107px;
  height:29px;
}
#u177 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u178 {
  position:absolute;
  left:397px;
  top:643px;
  width:107px;
  height:29px;
}
#u179 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u180 {
  position:absolute;
  left:397px;
  top:672px;
  width:107px;
  height:29px;
}
#u181 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u182 {
  position:absolute;
  left:397px;
  top:727px;
  width:107px;
  height:29px;
}
#u183 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u184 {
  position:absolute;
  left:397px;
  top:756px;
  width:107px;
  height:29px;
}
#u185 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u186 {
  position:absolute;
  left:382px;
  top:928px;
  width:107px;
  height:29px;
}
#u187 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u188 {
  position:absolute;
  left:382px;
  top:957px;
  width:107px;
  height:29px;
}
#u189 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u190 {
  position:absolute;
  left:382px;
  top:1006px;
  width:107px;
  height:29px;
}
#u191 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u192 {
  position:absolute;
  left:382px;
  top:1175px;
  width:107px;
  height:29px;
}
#u193 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u194 {
  position:absolute;
  left:382px;
  top:1098px;
  width:107px;
  height:29px;
}
#u195 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:180px;
  top:1315px;
  width:0px;
  height:0px;
}
#u196_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:285px;
}
#u196_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u196_seg2 {
  position:absolute;
  left:-10px;
  top:267px;
  width:20px;
  height:21px;
}
#u197 {
  position:absolute;
  left:-50px;
  top:132px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u198 {
  position:absolute;
  left:259px;
  top:1424px;
  width:101px;
  height:67px;
}
#u199 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u200 {
  position:absolute;
  left:259px;
  top:1347px;
  width:101px;
  height:67px;
}
#u201 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u202 {
  position:absolute;
  left:180px;
  top:1378px;
  width:79px;
  height:5px;
}
#u203 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u204 {
  position:absolute;
  left:180px;
  top:1455px;
  width:79px;
  height:5px;
}
#u205 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u206 {
  position:absolute;
  left:259px;
  top:1515px;
  width:101px;
  height:67px;
}
#u207 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u208_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u208 {
  position:absolute;
  left:180px;
  top:1546px;
  width:79px;
  height:5px;
}
#u209 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
}
#u210 {
  position:absolute;
  left:31px;
  top:1636px;
  width:840px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
}
#u212 {
  position:absolute;
  left:31px;
  top:1793px;
  width:840px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:55px;
}
#u214 {
  position:absolute;
  left:45px;
  top:1883px;
  width:85px;
  height:54px;
  color:#FFFFFF;
}
#u215 {
  position:absolute;
  left:2px;
  top:19px;
  width:81px;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u216 {
  position:absolute;
  left:182px;
  top:1889px;
  width:77px;
  height:46px;
}
#u217 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u218 {
  position:absolute;
  left:182px;
  top:1970px;
  width:77px;
  height:46px;
}
#u219 {
  position:absolute;
  left:2px;
  top:15px;
  width:73px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:221px;
  top:1935px;
  width:0px;
  height:0px;
}
#u220_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u220_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u220_seg2 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:21px;
}
#u221 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:221px;
  top:2016px;
  width:0px;
  height:0px;
}
#u222_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u222_seg1 {
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:305px;
}
#u222_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u222_seg3 {
  position:absolute;
  left:-10px;
  top:292px;
  width:20px;
  height:21px;
}
#u223 {
  position:absolute;
  left:-50px;
  top:145px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:57px;
}
#u224 {
  position:absolute;
  left:282px;
  top:2033px;
  width:78px;
  height:56px;
}
#u225 {
  position:absolute;
  left:2px;
  top:20px;
  width:74px;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:57px;
}
#u226 {
  position:absolute;
  left:282px;
  top:2098px;
  width:78px;
  height:56px;
}
#u227 {
  position:absolute;
  left:2px;
  top:20px;
  width:74px;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:57px;
}
#u228 {
  position:absolute;
  left:282px;
  top:2227px;
  width:78px;
  height:56px;
}
#u229 {
  position:absolute;
  left:2px;
  top:20px;
  width:74px;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:57px;
}
#u230 {
  position:absolute;
  left:282px;
  top:2163px;
  width:78px;
  height:56px;
}
#u231 {
  position:absolute;
  left:2px;
  top:20px;
  width:74px;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:10px;
}
#u232 {
  position:absolute;
  left:221px;
  top:2059px;
  width:61px;
  height:5px;
}
#u233 {
  position:absolute;
  left:2px;
  top:-6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:10px;
}
#u234 {
  position:absolute;
  left:221px;
  top:2124px;
  width:61px;
  height:5px;
}
#u235 {
  position:absolute;
  left:2px;
  top:-6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:10px;
}
#u236 {
  position:absolute;
  left:221px;
  top:2189px;
  width:61px;
  height:5px;
}
#u237 {
  position:absolute;
  left:2px;
  top:-6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:10px;
}
#u238 {
  position:absolute;
  left:221px;
  top:2254px;
  width:61px;
  height:5px;
}
#u239 {
  position:absolute;
  left:2px;
  top:-6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u240 {
  position:absolute;
  left:370px;
  top:2254px;
  width:107px;
  height:29px;
}
#u241 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u242 {
  position:absolute;
  left:370px;
  top:2177px;
  width:107px;
  height:29px;
}
#u243 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:55px;
}
#u244 {
  position:absolute;
  left:487px;
  top:1871px;
  width:85px;
  height:54px;
  color:#FFFFFF;
}
#u245 {
  position:absolute;
  left:2px;
  top:19px;
  width:81px;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u246 {
  position:absolute;
  left:624px;
  top:1877px;
  width:77px;
  height:46px;
}
#u247 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u248 {
  position:absolute;
  left:624px;
  top:1958px;
  width:77px;
  height:46px;
}
#u249 {
  position:absolute;
  left:2px;
  top:15px;
  width:73px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:663px;
  top:1923px;
  width:0px;
  height:0px;
}
#u250_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u250_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u250_seg2 {
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:21px;
}
#u251 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:663px;
  top:2004px;
  width:0px;
  height:0px;
}
#u252_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:464px;
}
#u252_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u252_seg2 {
  position:absolute;
  left:-10px;
  top:446px;
  width:20px;
  height:21px;
}
#u253 {
  position:absolute;
  left:-50px;
  top:222px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:55px;
}
#u254 {
  position:absolute;
  left:1039px;
  top:1883px;
  width:85px;
  height:54px;
  color:#FFFFFF;
}
#u255 {
  position:absolute;
  left:2px;
  top:19px;
  width:81px;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u256 {
  position:absolute;
  left:1134px;
  top:1887px;
  width:77px;
  height:46px;
}
#u257 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:1173px;
  top:1933px;
  width:0px;
  height:0px;
}
#u258_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u258_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u258_seg2 {
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:21px;
}
#u259 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u260 {
  position:absolute;
  left:743px;
  top:2004px;
  width:101px;
  height:73px;
}
#u261 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u262 {
  position:absolute;
  left:743px;
  top:2088px;
  width:101px;
  height:73px;
}
#u263 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u264 {
  position:absolute;
  left:743px;
  top:2255px;
  width:101px;
  height:73px;
}
#u265 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u266 {
  position:absolute;
  left:743px;
  top:2172px;
  width:101px;
  height:73px;
}
#u267 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u268 {
  position:absolute;
  left:743px;
  top:2339px;
  width:101px;
  height:73px;
}
#u269 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u270 {
  position:absolute;
  left:664px;
  top:2038px;
  width:79px;
  height:5px;
}
#u271 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u272 {
  position:absolute;
  left:664px;
  top:2122px;
  width:79px;
  height:5px;
}
#u273 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u274 {
  position:absolute;
  left:664px;
  top:2206px;
  width:79px;
  height:5px;
}
#u275 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u276 {
  position:absolute;
  left:664px;
  top:2289px;
  width:79px;
  height:5px;
}
#u277 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u278 {
  position:absolute;
  left:664px;
  top:2373px;
  width:79px;
  height:5px;
}
#u279 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u280 {
  position:absolute;
  left:881px;
  top:2012px;
  width:107px;
  height:29px;
}
#u281 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u282 {
  position:absolute;
  left:881px;
  top:2041px;
  width:107px;
  height:29px;
}
#u283 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u284 {
  position:absolute;
  left:881px;
  top:2180px;
  width:107px;
  height:29px;
}
#u285 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u286 {
  position:absolute;
  left:881px;
  top:2209px;
  width:107px;
  height:29px;
}
#u287 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u288 {
  position:absolute;
  left:881px;
  top:2263px;
  width:107px;
  height:29px;
}
#u289 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u290 {
  position:absolute;
  left:881px;
  top:2292px;
  width:107px;
  height:29px;
}
#u291 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u292 {
  position:absolute;
  left:881px;
  top:2347px;
  width:107px;
  height:29px;
}
#u293 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u294 {
  position:absolute;
  left:881px;
  top:2376px;
  width:107px;
  height:29px;
}
#u295 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:47px;
}
#u296 {
  position:absolute;
  left:1134px;
  top:1979px;
  width:77px;
  height:46px;
}
#u297 {
  position:absolute;
  left:2px;
  top:15px;
  width:73px;
  word-wrap:break-word;
}
#u298 {
  position:absolute;
  left:1174px;
  top:2025px;
  width:0px;
  height:0px;
}
#u298_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:466px;
}
#u298_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u298_seg2 {
  position:absolute;
  left:-10px;
  top:448px;
  width:20px;
  height:21px;
}
#u299 {
  position:absolute;
  left:-50px;
  top:223px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u300 {
  position:absolute;
  left:1253px;
  top:2025px;
  width:101px;
  height:73px;
}
#u301 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u302 {
  position:absolute;
  left:1253px;
  top:2109px;
  width:101px;
  height:73px;
}
#u303 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u304 {
  position:absolute;
  left:1253px;
  top:2276px;
  width:101px;
  height:73px;
}
#u305 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u306 {
  position:absolute;
  left:1253px;
  top:2193px;
  width:101px;
  height:73px;
}
#u307 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u308 {
  position:absolute;
  left:1253px;
  top:2360px;
  width:101px;
  height:73px;
}
#u309 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u310_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u310 {
  position:absolute;
  left:1174px;
  top:2059px;
  width:79px;
  height:5px;
}
#u311 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u312_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u312 {
  position:absolute;
  left:1174px;
  top:2143px;
  width:79px;
  height:5px;
}
#u313 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u314 {
  position:absolute;
  left:1174px;
  top:2227px;
  width:79px;
  height:5px;
}
#u315 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u316 {
  position:absolute;
  left:1174px;
  top:2310px;
  width:79px;
  height:5px;
}
#u317 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u318 {
  position:absolute;
  left:1174px;
  top:2394px;
  width:79px;
  height:5px;
}
#u319 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u320 {
  position:absolute;
  left:1391px;
  top:2033px;
  width:107px;
  height:29px;
}
#u321 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u322 {
  position:absolute;
  left:1391px;
  top:2062px;
  width:107px;
  height:29px;
}
#u323 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u324 {
  position:absolute;
  left:1391px;
  top:2201px;
  width:107px;
  height:29px;
}
#u325 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u326 {
  position:absolute;
  left:1391px;
  top:2230px;
  width:107px;
  height:29px;
}
#u327 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u328 {
  position:absolute;
  left:1391px;
  top:2284px;
  width:107px;
  height:29px;
}
#u329 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u330 {
  position:absolute;
  left:1391px;
  top:2313px;
  width:107px;
  height:29px;
}
#u331 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u332 {
  position:absolute;
  left:1391px;
  top:2368px;
  width:107px;
  height:29px;
}
#u333 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u334 {
  position:absolute;
  left:1391px;
  top:2397px;
  width:107px;
  height:29px;
}
#u335 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u336 {
  position:absolute;
  left:613px;
  top:2464px;
  width:100px;
  height:60px;
}
#u337 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u338 {
  position:absolute;
  left:663px;
  top:2524px;
  width:0px;
  height:0px;
}
#u338_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:384px;
}
#u338_seg1 {
  position:absolute;
  left:-4px;
  top:376px;
  width:9px;
  height:8px;
}
#u338_seg2 {
  position:absolute;
  left:-3px;
  top:376px;
  width:8px;
  height:22px;
}
#u338_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u338_seg4 {
  position:absolute;
  left:-9px;
  top:384px;
  width:20px;
  height:21px;
}
#u339 {
  position:absolute;
  left:-50px;
  top:192px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u340 {
  position:absolute;
  left:743px;
  top:2555px;
  width:101px;
  height:67px;
}
#u341 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u342 {
  position:absolute;
  left:743px;
  top:2633px;
  width:101px;
  height:67px;
}
#u343 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u344 {
  position:absolute;
  left:743px;
  top:2788px;
  width:101px;
  height:67px;
}
#u345 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u346 {
  position:absolute;
  left:743px;
  top:2711px;
  width:101px;
  height:67px;
}
#u347 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u348_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u348 {
  position:absolute;
  left:664px;
  top:2586px;
  width:79px;
  height:5px;
}
#u349 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u350 {
  position:absolute;
  left:664px;
  top:2664px;
  width:79px;
  height:5px;
}
#u351 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u352 {
  position:absolute;
  left:664px;
  top:2742px;
  width:79px;
  height:5px;
}
#u353 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u354 {
  position:absolute;
  left:664px;
  top:2819px;
  width:79px;
  height:5px;
}
#u355 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u356 {
  position:absolute;
  left:866px;
  top:2560px;
  width:107px;
  height:29px;
}
#u357 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u358 {
  position:absolute;
  left:866px;
  top:2589px;
  width:107px;
  height:29px;
}
#u359 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u360 {
  position:absolute;
  left:866px;
  top:2638px;
  width:107px;
  height:29px;
}
#u361 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u362 {
  position:absolute;
  left:866px;
  top:2807px;
  width:107px;
  height:29px;
}
#u363 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u364 {
  position:absolute;
  left:866px;
  top:2730px;
  width:107px;
  height:29px;
}
#u365 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u366 {
  position:absolute;
  left:1124px;
  top:2487px;
  width:100px;
  height:60px;
}
#u367 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u368 {
  position:absolute;
  left:1124px;
  top:2916px;
  width:100px;
  height:60px;
}
#u369 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u370 {
  position:absolute;
  left:1174px;
  top:2547px;
  width:0px;
  height:0px;
}
#u370_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u370_seg1 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:20px;
  height:21px;
}
#u370_seg2 {
  position:absolute;
  left:-10px;
  top:355px;
  width:20px;
  height:21px;
}
#u371 {
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u372 {
  position:absolute;
  left:1253px;
  top:2584px;
  width:101px;
  height:67px;
}
#u373 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u374 {
  position:absolute;
  left:1253px;
  top:2662px;
  width:101px;
  height:67px;
}
#u375 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u376 {
  position:absolute;
  left:1253px;
  top:2817px;
  width:101px;
  height:67px;
}
#u377 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u378 {
  position:absolute;
  left:1253px;
  top:2740px;
  width:101px;
  height:67px;
}
#u379 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u380_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u380 {
  position:absolute;
  left:1174px;
  top:2615px;
  width:79px;
  height:5px;
}
#u381 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u382 {
  position:absolute;
  left:1174px;
  top:2693px;
  width:79px;
  height:5px;
}
#u383 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u384 {
  position:absolute;
  left:1174px;
  top:2771px;
  width:79px;
  height:5px;
}
#u385 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u386 {
  position:absolute;
  left:1174px;
  top:2848px;
  width:79px;
  height:5px;
}
#u387 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u388 {
  position:absolute;
  left:1376px;
  top:2589px;
  width:107px;
  height:29px;
}
#u389 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u390 {
  position:absolute;
  left:1376px;
  top:2618px;
  width:107px;
  height:29px;
}
#u391 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u392 {
  position:absolute;
  left:1376px;
  top:2667px;
  width:107px;
  height:29px;
}
#u393 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u394 {
  position:absolute;
  left:1376px;
  top:2836px;
  width:107px;
  height:29px;
}
#u395 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u396 {
  position:absolute;
  left:1376px;
  top:2759px;
  width:107px;
  height:29px;
}
#u397 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u398 {
  position:absolute;
  left:1174px;
  top:2976px;
  width:0px;
  height:0px;
}
#u398_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:285px;
}
#u398_seg1 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:20px;
  height:21px;
}
#u398_seg2 {
  position:absolute;
  left:-10px;
  top:267px;
  width:20px;
  height:21px;
}
#u399 {
  position:absolute;
  left:-50px;
  top:132px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u400 {
  position:absolute;
  left:1253px;
  top:3008px;
  width:101px;
  height:67px;
}
#u401 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u402_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u402 {
  position:absolute;
  left:1174px;
  top:3039px;
  width:79px;
  height:5px;
}
#u403 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:68px;
}
#u404 {
  position:absolute;
  left:1253px;
  top:3091px;
  width:101px;
  height:67px;
}
#u405 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u406 {
  position:absolute;
  left:1174px;
  top:3122px;
  width:79px;
  height:5px;
}
#u407 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u408 {
  position:absolute;
  left:1376px;
  top:3091px;
  width:107px;
  height:29px;
}
#u409 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u410 {
  position:absolute;
  left:1376px;
  top:3120px;
  width:107px;
  height:29px;
}
#u411 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u412 {
  position:absolute;
  left:1376px;
  top:3027px;
  width:107px;
  height:29px;
}
#u413 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:55px;
}
#u414 {
  position:absolute;
  left:31px;
  top:1704px;
  width:85px;
  height:54px;
  color:#FFFFFF;
}
#u415 {
  position:absolute;
  left:2px;
  top:19px;
  width:81px;
  word-wrap:break-word;
}
#u416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u416 {
  position:absolute;
  left:180px;
  top:1704px;
  width:100px;
  height:60px;
}
#u417 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u418 {
  position:absolute;
  left:313px;
  top:1704px;
  width:100px;
  height:60px;
}
#u419 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:74px;
}
#u420 {
  position:absolute;
  left:492px;
  top:1695px;
  width:101px;
  height:73px;
}
#u421 {
  position:absolute;
  left:2px;
  top:28px;
  width:97px;
  word-wrap:break-word;
}
#u422_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:10px;
}
#u422 {
  position:absolute;
  left:413px;
  top:1729px;
  width:79px;
  height:5px;
}
#u423 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u424 {
  position:absolute;
  left:630px;
  top:1703px;
  width:107px;
  height:29px;
}
#u425 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u426 {
  position:absolute;
  left:630px;
  top:1732px;
  width:107px;
  height:29px;
}
#u427 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
